<html ng-app="introUI">

<head>
    <meta charset="UTF-8">
    <title>Intro UI Router</title>
    <!--Style Components-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/site.css">
</head>

<body>

    <!--Site Header-->
    <div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a ui-sref="home">Home</a></li>
            <li role="presentation"><a ui-sref="banana">Banana</a></li>
            <li role="presentation"><a ui-sref="auth.dashboard">Dashboard</a></li>
            <li role="presentation"><a ui-sref="albums">Albums</a></li>
            <div ng-controller="MainController">
                <li role="presentation" class="pull-right">
                    <button ng-click="logout()">Logout</button>
                </li>
                <li role="presentation" class="pull-right">
                    <button ng-click="login()">Login</button>
                </li>
            </div>
        </ul>
    </div>

    <!--Site Container-->
    <div class="container-fluid">

        <ui-view>
        </ui-view>

    </div>
    <!--Close Site Container-->

    <!--Site Footer-->
    <div class="container-fluid footer">
        THIS IS A FOOTER
    </div>

    <!--JS Components-->
    <!--Bootstrap/jQuery-->
    <script src="assets/plugins/jquery/dist/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--Angular/UI-Router-->
    <script src="assets/plugins/angular/angular.min.js"></script>
    <script src="assets/plugins/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--Firebase/AngularFire-->
    <script src="assets/plugins/firebase/firebase.js"></script>
    <script src="assets/plugins/angularfire/dist/angularfire.min.js"></script>
    <!--Application-->
    <script src="app/config/init.js"></script>
    <script src="app/config/routes.js"></script>
    <script src="app/components/home/home-controller.js"></script>
    <script src="app/components/banana/banana-controller.js"></script>
    <script src="app/components/dashboard/dashboard-controller.js"></script>
    <script src="app/components/album/album-controller.js"></script>
    <script src="app/components/album/albums-controller.js"></script>
</body>

</html>